deployment.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Plugin MPA.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
.idea/scopes/scope_settings.xml
